.page-like {
    position: fixed;
    font-size: 2rem;
}

.iconicon {
    font-size: 2rem;
}

.like-icon-hover:hover {
    cursor: pointer;
    animation: icon-hover ease-out 1s infinite;
    transform-origin: left bottom;
}

@keyframes icon-hover {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.like-icon {
    width: 80px;
    height: 80px;
    background: url(https://gw.alipayobjects.com/mdn/prod_resource/afts/img/A*eDsBTKcm1IcAAAAAAAAAAAAAARQnAQ) no-repeat 0 0;
    background-size: auto 80px;
    display: inline-block;
    position: relative;
    left: -30px;
    top: -30px;
}

.page-like-count {
    left: -47px;
    position: relative;
    top: -42px;
}

.active-page-like {
    transition: background-position 1s steps(27);
    background-position: -2160px 0;
}