#friends-canvas-container {
    height: calc(100vh - 60px);
    width: 100%;
}

/* 隐藏横向滚动条，不知道为什么切换了屏幕分辨率后横向滚动条会出现 */
#friends-canvas-container::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

#friends-canvas-container {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

.model-label {
    /* margin-top: -1em; */
    border: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* width: 60px; */
    text-align: center;
    cursor: pointer;
    color: rgb(0, 155, 234);
    line-height: 20px;
    background-color: rgb(244, 244, 244);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.model-label:hover {
    box-shadow: 0px 0px 20px rgba(0, 155, 234, 0.8);
}

.model-dialog {
    position: absolute;
    padding: 5px;
    /* border: 2px solid cyan; */
    border-radius: 10px;
    /* font-size: 10px; */
    padding: 10px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    background-color: rgb(244, 244, 244);
    color: rgb(0, 155, 234);
}

.model-dialog :nth-child(-n+1) {
    margin-bottom: 10px;
}

/* .model-dialog::before {
    position: absolute;
    top: 45%;
    left: -10px;
    content: '';
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 10px solid cyan;
} */

.model-dialog::before {
    position: absolute;
    top: 99%;
    left: 48%;
    content: '';
    border-top: 12px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.friends-scroll-down-bar {
    position: absolute;
    width: 100%;
    top: 85%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.friends-link-arrow {
    width: 60px;
    height: 60px;
    position: relative;
}

.friends-link-text {
    font-size: 16px;
    color: rgb(183, 183, 184);
}

.friends-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    opacity: 0.7;
}

.friends-link:hover {
    animation: friends-scroll-down 1.5s infinite;
}

@keyframes friends-scroll-down {
    0% {
        opacity: 0.6;
        top: 0;
    }
    50% {
        opacity: 0.4;
        top: -1rem;
    }
    100% {
        opacity: 0.6;
        top: 0;
    }
}