/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@font-face {
  font-family: btfFont;
  /* src: url(https://cdn.jsdelivr.net/gh/yleave/yle-blog/font/13.woff2); */
  src: url(../../static/font/13.woff2);
}


:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] {
  --ifm-color-primary: #4e89e8;
  --ifm-color-primary-dark: #5a91ea;
  /* 任何你要覆盖的其它颜色 */
}

/* 评论组件的 css 样式，最早是放在 迷宫小游戏页面的，不过后来在其他页面也添加了，因此将他放在全局样式里 */
.maze-comment {
  margin: 10vh 10vw;
}

/* 滚动条样式优化 */

/* 滚动槽 */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0,0,0,0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0,0,0,0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

#__docusaurus {
  font-family: "btfFont", 'Courier New', Courier, monospace;
  font-size: 16px;
}

.theme-doc-markdown h1, h2, h3, h4 {
  font-family: "btfFont", 'Courier New', Courier, monospace;
}

/* 博客详情页 CSS 覆盖 */
.blog-wrapper > .container {
  width: 100vw;
}

.blog-wrapper > .container > .row:not([class~="blog-tags__page"]) {
  display: grid;
  grid-template-areas:
    "detail outline";
  
    /* 两栏布局，右边固定宽度，左边自适应 */
  grid-template-columns: minmax(300px, 1fr) 250px;  
}

.blog-wrapper > .container > .row .col[class*="col--"] {
  max-width: unset;
}

.blog-wrapper > .container > .row > *:nth-child(1) > div {
  position: static;
}

.blog-wrapper > .container > .row > *:nth-child(2) {
  grid-area: detail;
  
}

/* 将文章目录放到 recent 上 */
.blog-wrapper > .container > .row > *:nth-child(3) {
  grid-area: outline;
}

.blog-wrapper .container > .row > *:nth-child(3) > div::before {
  content: "文章目录";
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--ifm-h3-font-size);
  color: var(--ifm-heading-color);
  font-weight: var(--ifm-heading-font-weight);
}

.docs-wrapper .container .col--3 > div::before {
  content: "文章目录";
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--ifm-h3-font-size);
  color: var(--ifm-heading-color);
  font-weight: var(--ifm-heading-font-weight);
}

/* markdown 中的图片样式优化 */

.markdown img {
  max-width: 100%;
  margin: 1.5rem auto;
  display: block;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  border-radius: 3px;
}

/* 评论中的图片取消阴影和居中 */

.waline-comment-class img {
  margin: 0 .75em 0 0;
  /* border-radius: var(--waline-avatar-radius); */
  box-shadow: var(--waline-box-shadow);
}

.v[data-class=v] .vcontent .vemoji {
  display: inline-block;
  vertical-align: middle;
  width: 1.25em;
  margin: .25em;
}

/* 文章标题居中 */

header {
  text-align: center;
}

/* 隐藏主题中提供的 backtotop 按钮 */
.main-wrapper .clean-btn {
  display: none;
}