#panoramic-container {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* 隐藏横向滚动条，不知道为什么切换了屏幕分辨率后横向滚动条会出现 */
#panoramic-container::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
  
#panoramic-container {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

#panoramic-canvas-container {
    width: 70%;
}

.panoramic-imgs {
    width: 20%;
    height: calc(100vh - 60px);
}

.panoramic-img {
    height: inherit;
    width: inherit;
}